$large: 992px;
$medium: 600px;

.parallax-main {
  margin-top: 5rem;
}

.parallax-inner {
  position: absolute;
  top: 10%;
  transform: scaleY(1.1);
  width: 100%;
  margin-left: 0.9rem;
  height: 20rem;
  z-index: 4;
  text-align: center;
  font-size: 9rem;
  letter-spacing: 1.8rem;
  color: white;
  cursor: default;

  // MEDIUM
  @media screen and (max-width: $large) {
    font-size: 7rem;
    line-height: 8rem;
  }
  // SMALL
  @media screen and (max-width: $medium) {
    font-size: 6rem;
    line-height: 8rem;
  }
}

.parallax-inner-text {
  font-size: 1.4rem;
  padding: 0 5rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  padding: 0.8rem;
  background: rgba(0, 0, 0, 0.278);
  width: 90%;
  max-width: 70rem;
  margin-left: 50%;
  transform: translateX(-50%);
  // height: auto;
  // MEDIUM
  @media screen and (max-width: $large) {
    // font-size: 8rem;
  }
  // SMALL
  @media screen and (max-width: $medium) {
    font-size: 1.8rem;
  }
}

.parallax-image {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // height: 95vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.parallax-image1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url('../../imgs/background/brutalism1.jpg');
}

.parallax-image2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url('../../imgs/background/brutalism2.jpg');
}

.parallax-image3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url('../../imgs/me/bjj.jpg');
  // url('../../imgs/background/brutalism3.jpg');
}

.parallax-image4 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.34) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url('../../imgs/background/brutalism4.jpg');
}

.parallax-image5 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.37969738924050633) 0%,
      rgba(0, 0, 0, 0.5917227056962026) 100%
    ),
    url('../../imgs/background/brutalism5.jpg');
}

.parallax-image-container {
}

// .infoxbox1 {
//   position: absolute;
//   top: 98vh;
//   height: 108.2vh;
//   background: #eee;
//   padding: 2rem 8vw;
// }

.prarallax-order-button {
  font-size: 2rem;
  background: rgba(201, 201, 201, 0.521);
  width: 60%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 2rem;
  padding-left: 4rem;
  border-radius: 0.5rem;
  letter-spacing: 0.9rem;
  cursor: pointer;
}

.parallax-textlayer {
  position: absolute;
  top: 100vh;
  min-height: 100vh;
  background: #2c2c2c;
  background: #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infobox {
  margin-left: 50%;
  transform: translateX(-50%);
  background: #ccc;
  width: 95rem;
  padding: 4rem 2rem;
  // MEDIUM
  @media screen and (max-width: $large) {
    width: 60rem;
  }
  // SMALL
  @media screen and (max-width: $medium) {
    width: 40rem;
  }
}

.me {
  width: 29rem;
  height: 29rem;
  margin-left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  border-radius: 200px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 17%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../imgs/me/headshot.jpg');
}
