// $break-medium: 650px;
$large: 992px;
$medium: 600px;

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.navbar {
  display: flex;
  //   background: #22451b;
  background: #1b1b1b;
  color: rgb(231, 231, 231);
  height: 5.2rem;
  width: 100%;
}

.name-logo {
  float: left;
  font-size: 2.7rem;
  padding-left: 1rem;
  color: #ddd;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.navbar-large {
  display: flex;
  list-style: none;
  position: absolute;
  right: 0rem;
  top: 0;

  li {
    padding: 1.2rem 1rem;
    // margin: 0 0.3rem;
    min-height: 5rem;
    cursor: pointer;
    &:hover {
      background: #353535;
      // background: #313131;
      color: white;
    }
  }
}

.hide-on-large {
  display: none;
  @media screen and (max-width: $medium) {
    display: initial;
  }
}

.hide-on-med-and-down {
  display: flex;
  @media screen and (max-width: $medium) {
    display: none;
  }
}

.sidenav-trigger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-opensidebar {
  position: absolute;
  right: 3rem;
  cursor: pointer;
  color: rgb(236, 236, 236);
  &:hover {
    color: rgb(192, 192, 192);
  }
}

.sidebarmenu {
  top: 5rem;
  height: 95vh;
  color: #222;
  background: #ddd;
  z-index: 4;
  width: 25rem;

  div {
    padding: 2rem 1rem 1rem 4rem;
    font-size: 2.4rem;
    cursor: pointer;
  }
}

.sidebarmenu-linebreak {
  width: 80%;
  transform: translateX(-50%);
  margin-left: 50%;
}
